{
  "useTabs": false,
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "jsxBracketSameLine": false,
  "semi": false,
  "react/jsx-max-props-per-line": [1, { "when": "always" }]
}
