@import '../../styles/breakpoints';

.home {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  background: #000000 url(../../assets/images/background.jpg) no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
  }

  .home-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fefefe;
    height: 80px;
    width: 100%;
    padding: 20px 50px 20px 50px;
    z-index: 1;

    .banner {
      display: flex;
      align-items: center;

      .home-logo {
        width: 50px;
        height: 50px;
        margin-right: 20px;
      }

      .home-name {
        font-size: 25px;
      }
    }

    .right-menu {
      display: flex;
      align-items: center;
    }
  }
}
